<footer class="footer mt-auto py-3 bg-dark fixed-bottom text-white">
  <div class="container">
    <span class="text-muted"><small>Copyright &copy; <%= link_to "Zihan Page", "http://zi-han.com", class:"text-white" %></small></span>
  </div>
</footer>